<div *ngIf="index != -1" class="questionContainer">
  <md-card>
    <md-card-title>

      <div id="questionNumber">Question
        <button md-mini-fab disabled>{{questionSet[index].sNum}}
        </button>
      </div>
    </md-card-title>
    <p>{{questionSet[index].text}}</p>
    <md-card-actions>
      <div>
        <button md-raised-button *ngFor="let option of questionSet[index].options" (click)="nextQuestion(option)">
          {{option}}
        </button>
      </div>
    </md-card-actions>
  </md-card>
</div>

<div *ngIf="index == -1" class="questionContainer">
  <md-card><md-card-title>
  Thank you!!
    </md-card-title>
  <chart #chartTag [correct]="correctAnswers"></chart>
  </md-card>
</div>
