<div *ngIf="index != -1 && index != -2" class="questionContainer">
  <md-card>
    <md-card-title>
      <div id="questionNumber"><span class="questionSpan">Question</span><button md-mini-fab disabled>{{questionSet[index].sNum}}
        </button>
      </div>
    </md-card-title>
    <p>{{questionSet[index].text}}</p>
    <md-card-actions>
      <div>
        <button md-raised-button *ngFor="let option of questionSet[index].options" (click)="nextQuestion(option)">
          {{option}}
        </button>
      </div>
    </md-card-actions>
  </md-card>
</div>

<div *ngIf="index == -1" class="questionContainer">
  <md-card><md-card-title>
  Thank you!!
    </md-card-title>
    <button id="reportLink" (click)="showReport()">Click to see report</button>
  <chart #chartTag [correct]="correctAnswers"></chart>
  </md-card>
</div>

<div *ngIf="index == -2" class="questionContainer">
  <md-card-title>Report Card</md-card-title>
  <md-card class="questionCard" *ngFor="let question of questionSet; let i = index">
    <md-card-content>
      <div ><span class="questionSpan">Question</span><button md-mini-fab disabled>{{questionSet[i].sNum}}
        </button>
        <p>{{questionSet[i].text}}</p>
        <div>
        <button md-raised-button *ngFor="let option of questionSet[i].options;">
        {{option}}
        </button>
        </div>
        <div>
          Your answer: {{userAnswers[i]}}
        </div>
        <div>
          Correct answer: {{questionSet[i].answer}}
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
